
body {
    background-color: #1e1e1e; 
    color: #ffffff; 
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0px;
}

h1 {
    font-size: 2.5em;
    color: #ff6b6b;
    margin-bottom: 20px;
}

h2 {
    font-size: 2em;
    color: #feca57; 
    margin-top: 30px;
    margin-bottom: 15px;
}


p {
    font-size: 1.2em;
    margin-bottom: 20px;
}


ul, ol {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
    font-size: 1.1em;
}


.contact {
    display: inline-block;
    color: #18a07c; 
    text-decoration: none;
    margin-right: 15px;
    font-size: 1.2em;
    transition: color 0.3s;
}

.contact:hover {
    color: #1cffc6; 
}

img {
    max-width: 70%;
    border-radius: 50%; 
    border: 2px solid #ffffff; 
}

.header {
    background-color: #6d6d6d;
    display: flex;
    justify-content: right;
    padding-right: 50px;
}

.header-links{
    margin-left: 40px;
    font-size: 1.75em;
    color: rgb(216, 216, 216);
    text-decoration: none;
    transition: color 0.3s;
}

.header-links:hover{
    color: #ffffff; 
}

/* lab_3*/
.container{
    background-color: #ffffff;
}
.block {
    margin-left: auto;
    margin-right: auto;
    background-color: #ff6b6b;
    width:200px;
    height: 200px;
}
.horizontal-img {
    display: block;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.container-2{
    display: flex;
    background-color: #ffffff;
    height: 300px;
    align-items: center;
}

.block-2{
    margin-left: auto;
    margin-right: auto;
    background-color:aqua;
    width:200px;
    height: 200px;
}

.container-3{
    display: flex;
    background-color: #ffffff;
    border: solid #000000 10px;
    flex-wrap: wrap;
}
.block-3 {
    margin: 10px;
    background-color: #18a07c;
    width: 200px;
    height: 200px;
}

.container-4{
    background-color: #ffffff;
    width: 300px;
    height: 300px;
    border: 2px solid;
    
}
.red-box{
    border: solid red 5px;
    width: 100px;
    height: 100px;
    position: absolute; 
    top: 1690px;
    left: 30px;
}
.blue-box{
    border: solid blue 5px;
    width: 100px;
    height: 100px;
    position: absolute; 
    top: 1750px;
    left: 90px;
}
.green-box{
    border: solid green 5px;
    width: 100px;
    height: 100px;
    position: absolute; 
    top: 1810px;
    left: 150px;
}

.sleppy-cat{
    display: block;
    position: fixed;
    width: 100px;
    height: 100px;
    bottom:0;
    right: 0;
}

/*lab_3 end*/

.content {
    display: flex;
    justify-content:flex-start;
    margin-top: 10px;
}

.content-left {
    margin: 10px;
    background-color: #000000; 
    border-radius: 10%;
    width: 70%; 
    padding-left: 30px;
    padding-bottom: 40px;
}

.content-right {
    margin: 10px;
    padding: 10px;
    border-radius: 10%;
    background-color: #6d6d6d; 
    width: 50%; 
    display: flex;
    flex-direction: column;
}

#avatar_img {
    display: flex;
    justify-content: center;
}

#avatar_h2 {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

/* lab-4*/

table {
    width: 99%;
    border-collapse: collapse;
    margin: auto;
}

caption {
    caption-side: top;
    font-size: 2.5em;
    color: #ff6b6b;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #1e1e1e;
}

tr:nth-child(even) {
    background-color: #6d6d6d;
}

tr:nth-child(odd) {
    background-color: #1e1e1e;
}

tr:nth-child(odd):hover, tr:nth-child(even):hover {
    background-color: #b3a97c;
}

table, th, td {
    border: 1px solid #ffffff;
}

/*lab_5*/
.form {
    margin-left: 10px;
}

input, select {
    margin-bottom: 10px;
    color: white; 
    padding: 5px; 
    background-color: #6d6d6d;
    border: 1px solid #ffffff; 
    border-radius: 7px;
}
input:focus {
    box-shadow: 0 0 10px #ffffff;
}
input[type="submit"] {
    padding: 5px; 
    cursor: pointer; 
}


